.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

.env

.mypy_cache
dist
.eggs
*.egg-info
build
.pytest_cache
*.pyc
.tox
site

venv

# For the tutorial on creating modules
src/mlmodule/contrib/example.py
