boto3
scipy
torch==1.7.1
torchvision==0.8.2
wheel
opencv-python
tqdm

# For MTCNN
facenet-pytorch

# For CLIP
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git@beba48f35392a73c6c47ae67ddffced81ad1916d

# For MMDet
mmcv-full==1.3.1 -f https://download.openmmlab.com/mmcv/dist/cu110/torch1.7.1/index.html
git+https://github.com/open-mmlab/mmdetection.git@2894516bacf9ff82c3bc6d6970019d0890a993aa

# Development
pytest
pytest-xdist[psutil]
pip-tools
