boto3
scipy
torch==1.7.1
torchvision==0.8.2
wheel
opencv-python

# For MTCNN
facenet-pytorch

# For CLIP
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git@beba48f35392a73c6c47ae67ddffced81ad1916d

# Development
pytest
pytest-xdist[psutil]
pip-tools
